# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local

# Supabase
.supabase

# FFmpeg files
public/ffmpeg-core.js
public/ffmpeg-core.wasm

# Cache and temp files
.cache
.next
.huggingface

# Model dosyaları
localai-data/
*.ckpt
*.gguf
*.bin
*.bundle
*.bundle.part*

# Local AI
localai-data/models/
localai-data/dist/
localai-data/*.gguf
localai-data/*.bin
localai-data/*.ckpt
localai-data/*.partial
localai-data/zeroscope_v2_576w/
localai-data/text-to-video-ms/